<!DOCTYPE html>
<html>
<head>
	<title>CarneShop</title>


	       <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rubik" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rubik" rel="stylesheet">


</head>
<body>


	<div style="width: 90%; margin: auto;">
		{% include 'body/header.html' %}

		{% include 'body/nav.html' %}
	
		{% block contenido %}
		{% endblock %}

	</div>

<style>

:root{

  --textColor:rgb(65, 65, 66);
  --btnBgColor:#3287b7;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

p, h1, h2, h3, a{
	font-family: 'Roboto', sans-serif;
}


html{
  scroll-behavior: smooth;
}

body{
  margin:0;
  padding: 0;
  font-size: 1em;
  font-family: "Neutrif pro"
}

button{
	outline: none;
}

a{
	text-decoration:none!important;
}


a:hover{
	text-decoration:none!important;
}

</style>

</body>
</html>