{% extends 'base.html' %}

{% block contenido %}

<div class="registro_container">

<form method="post">
	{% csrf_token %}
	
	{{form.as_p}}

	<div class="actionBtn">
		<button type="submit" class="btn btn-primary d-flex align-items-center mb-3">
			Registrarce
		</button>
		<a href="">
				¿Tienes una cuenta? Ingresar
		</a>

	</div>

</form>

</div>

<style>
	
.registro_container{

	padding-top: 3.5em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 3.5em;

	overflow: auto;
	height: 100%;
}

</style>

{% endblock %}