{% extends 'base.html' %}

{% load static %}

{% block contenido %}

	{% include 'dashboard/header.html' %}

	<div class="divContainerDetail">

		<div class="headerBack">
			<a href="{% url 'inicio' %}">
				<img src="{% static 'img/arrow.png' %}" style="width: 15px;">
			</a>
		</div>

	<div class="DetailContainer">
		
		<div class="divDetailItem">
			<div class="d-flex align-items-center">
				<img src="{{object.img.url}}" class="img-item-detail">
				<div class="ml-5">
					
					<h2>
						{{object.titulo}}
					</h2>

					<p>
						Categoria:  {{object.categoria.get_categoria}} 
					</p>
					
					<p>
						Cantidad disponible: {{object.cantidad_disponible}} Libras  
					</p>

				

				<button class="btn btn-primary btn_agregar">
					Agregar
				</button>
				</div>
			</div>

			<button class="Detail-Descripcion">
				Descripción
			</button>

		</div>
	</div>

	<div class="divTexto-detail">
		<p class="p_texto_detail">
			{{object.texto}}
		</p>
	</div>

	<div class="div_relacionados">
		<h6 class="h6_home">PRODUCTOS RELACIONADOS...</h6>
		{% include 'dashboard/detail_related.html' %}
	</div>

	</div>


<style>
	
	.badge_cat{
		padding: 7px;
		color: #fff!important;
		border-radius: 5px;
		cursor: pointer;
	}

	.headerBack{
		text-align: center;
		padding: 0.5em 0.5em;
		position: relative;
		margin-bottom: 0.5em;
	}

	.headerBack img{
		height: 15px;
		position: absolute;
		left: 0px;
		top: 50%;
		transform: translateY(-50%);
	}


	.divContainerDetail{

		padding: 0.5em 1em;
		height: 100%;
		overflow: auto;
		padding-top: 5.2em;


	}
	
	.DetailContainer{
		background:#fff;
		margin: 1px -0.5em;
		padding: 0.5em 0.5em 0.5em 0.5em;
		position: relative;
	}

	.DetailContainer > div{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 0.5em;
	}



	.img-item-detail{
		width: 200px;

	}

	.btn_agregar{
		cursor: pointer;
		width: 200px;
		display: block;
		margin: auto;
		border-radius: 50px;
	}

	.Detail-Descripcion{
		outline: none;
		display: flex;
		align-items: center;
		position: absolute;
		bottom: -14px;
		left: 50%;
		transform: translateX(-50%);
		background-color: #f4f4f4!important;
		border:none!important;
		color: #333!important;
		box-shadow: 0px 2px 3px #cccccc;
		font-weight: 500!important;
		border-radius: 50px;
	}

	.divTexto-detail{
		margin-top: 20px;
	}

	.p_texto_detail{

    	margin: 0 0 10px;
    	line-height: 140%;
    	font-weight: 500;
    	text-align: justify;
	}

</style>

{% endblock %}