{% extends 'base.html' %}

{% load static %}

{% block contenido %}

	{% include 'dashboard/header.html' %}

	<div class="divContainerDetail">

		<div class="headerBack">
			<a href="{% url 'inicio' %}">
				<img src="{% static 'img/arrow.png' %}" style="width: 15px;">
			</a>
		</div>

	<div class="DetailContainer">
		
		<div class="divDetailItem">
			<div class="d-flex align-items-center">
				<img src="{{object.img.url}}" class="img-item-detail">
				<div class="ml-2">
					
				{{object.titulo}}

				{{object.texto}}

				{{object.texto}}
				{{object.categoria}}

				{{object.cantidad_disponible}}

				<button class="btn btn-primary">
					Agregar
				</button>
				</div>
			</div>
		</div>

	</div>
	</div>


<style>

	.headerBack{
		text-align: center;
		padding: 0.5em 0.5em;
		position: relative;
		margin-bottom: 0.5em;
	}

	.headerBack img{
		height: 15px;
		position: absolute;
		left: 0px;
		top: 50%;
		transform: translateY(-50%);
	}


	.divContainerDetail{

		padding: 0.5em 1em;
		height: 100%;
		overflow: auto;
		padding-top: 5.2em;


	}
	
	.DetailContainer{
		background:#fff;
		margin: 1px -0.5em;
		padding: 0.5em 0.5em 0.5em 0.5em;
		position: relative;
	}

	.DetailContainer > div{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 0.5em;
	}

	.img-item-detail{
		width: 120px;

	}

</style>

{% endblock %}