{% load static %}
{% load cart_template_tags %}
<div class="header">
		<a href="{% url 'home' %}" class="a_home">
			CarneShop
		</a>
		<div class="nav_items">
			<a href="">
				<img src="{% static 'img/invite.png' %}">
			</a>
			<a href="{% url 'check_out' %}">
				
				<img src="{% static 'img/cart.png' %}">
				<button class="count_cart">
					{{request.user|cart_item_count}}
				</button>
			</a>
			<a href="">
				<img src="{% static 'img/noti.png' %}">
			</a>
			<a href="{% url 'perfil' request.user.username %}">
				<img src="{% static 'img/b1.png' %}">
			</a>
		</div>
</div>

<style>
		
		.a_home{
			color: #333;
		}

		.nav_items a{
			position: relative;
		}

		.count_cart{
			display: flex;
			display: inline-block;
			line-height: 1;
			align-items: center;
			position: absolute;
			height: 20px;	
			width: 20px;
			font-size: 10px;
			text-align: center;
			vertical-align: middle;
			left: 1%;
			top: -10px;
			transform: translateY(-1%);
			background-color: var(--btnBgColor)!important;
			border-radius: 50%;
			border:none!important;
			color: #fff!important;
			font-weight: 500!important;
		}

		.header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.5em 1em;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background-color: #f2f0e4;
	}

	.header img{
		width: 25px;
	}

	.HomeContenedor{

		padding-top: 3.5em;
		padding-left: 1em;
		padding-right: 1em;
		padding-bottom: 3.5em;
		overflow: auto;
		height: 100%;
	}
</style>