{% extends 'base.html' %}
{% load static %}

{% block nav %}
	
	<div class="header">
		<a href="">
			<img src="{% static 'img/search.png' %}">
		</a>
		<div class="nav_items">
			<a href="">
				<img src="{% static 'img/invite.png' %}">
			</a>
			<a href="">
				<img src="{% static 'img/calendar.png' %}">
			</a>
			<a href="">
				<img src="{% static 'img/noti.png' %}">
			</a>
			<a href="">
				<img src="{% static 'img/b1.png' %}">
			</a>
		</div>
	</div>


<style>
	.header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.5em 1em;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background-color: #f2f0e4;
	}

	.header img{
		width: 25px;
	}
</style>

{% endblock %}