<div class="DivBienvenida" style="display: none;">

	<div class="text-center">
		<h1 class="mb-4">Ultimo importante paso</h1>	
		<h1 class="mb-3">
			Completa el formulario para que tu pedido llegue a tu puerta
		</h1>

		<div class="BienvenidaContainer">
			<div class="p-3">
				<h3>CaneShop te gustaria enviarte notificaciones</h3>
				<p>
					El ajuste incluira tu Ubicacion, telefono.
				</p>
			</div>

			<div class="action_btn">
				<a href="">
					Inicio	
				</a>
				<a href="">
					Ajustes
				</a>
			</div>

		</div>

	</div>
</div>

<style>
	
	

</style>