{% extends 'base.html' %}
{% load static %}

{% block contenido %}

	{% include 'dashboard/header.html' %}

<div class="Div_main_notifi">

	<div class="header_notify">
		<a href="{% url 'inicio' %}">
			<img src="{% static 'img/arrow.png' %}" style="width: 15px;">
		</a>
		<h3>
			Tus notificaciones
		</h3>
	
	</div>

	<div class="DivNotificaciones">
		
		{% for notificacion in notificacion %}
			<div>
				<div class="d-flex align-items-center">

					{% if notificacion.nivel == 'Direccion' %}
					<img src="{% static 'img/location.png' %}">
					{% else %}
					<img src="{{notificacion.actor.get_imagen}}">
					{% endif %}

					<div class="ml-2" >
						<h5>{{notificacion.actor}}</h5>
						<p>{{notificacion.verbo}}</p>

					</div>
				</div>
		
			</div>
		{% endfor %}

	</div>

</div>


<style>

	.Div_main_notifi{

		padding-top: 3.5em;
		padding-left: 1em;
		padding-right: 1em;
		padding-bottom: 3.5em;

		overflow: auto;
		height: 100%;
	}
	
	.header_notify{
		text-align: center;
		padding: 0.5em 0.5em;
		position: relative;
		margin-bottom: 0.5em;
	}

	.header_notify img{
		height: 15px;
		position: absolute;
		left: 0%;
		top: 50%;
		transform: translateY(-50%);
	}

	.header_notify h3{
		margin-left:7px;
		margin-top: 0;
		margin-bottom: 0;
		margin-right: 0;
		font-size: 1.2em;
		text-align: left;
	}

	.DivNotificaciones{
		background-color: #ffff;
		margin: 0 -0.5em;
		padding: 0.5em 0.5em 1.5em 0.5em;
		position: relative;
	}

	.DivNotificaciones p {

		color: var(--textColor);
		font-size: 0.9em;
		margin: 0;
		display: block;
		display: -webkit-box;
		width: 173px;
		height: fit-content;
		line-height: 1.15;
		-webkit-line-clamp:2;
		-webkit-box-orient:vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #aaaaaa;
	}


	.DivNotificaciones h5{
		color: var(--textColor);
		font-size: 1.1em;
		margin-bottom: 0.2em;
	}

	.DivNotificaciones > div{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 0.5em;
	}

</style>

{% endblock %}